

<p-menubar [model]="items"></p-menubar>

<div   class="favorito-box" >

   
     Numero Pedimento:    <input type="text" pInputText />

 
<p-table [columns]="cols" [value]="favoritos" selectionMode="single" [(selection)]="selectedCar" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="10" >
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="fa-plus" (click)="showDialogToAdd()" label="Enviar a entradas"></button>
        </div>
    </ng-template>
</p-table>
</div>
<p-dialog header="Solicitud del Pedido" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [closable]="true" [width]="400" >
    <div class="ui-g ui-fluid" *ngIf="favorito">
        <!--<div class="ui-g-4"><label for="vin">Vinnnnn</label></div>
        <div class="ui-g-8"><input pInputText id="_id" [(ngModel)]="favorito._id" /></div>
        
        <div class="ui-g-4"><label for="title">Cuantos carros</label></div>
        <div class="ui-g-8"><input pInputText pKeyFilter="int" placeholder="Integers" id="title" [(ngModel)]="favorito.title" /></div>-->
       
        <!--<div class="ui-g-4"><label for="title">Color</label></div>
            <div class="ui-g-8"><input pInputText id="url" [(ngModel)]="favorito.url" /></div>

 -->

       
 <div class="ui-g-4"><label for="description">Color</label></div>
       
       
 <div class="ui-g-8"><input pInputText id="description" [(ngModel)]="favorito.title" /></div>

 <div class="ui-g-4"><label for="url">Cantidad</label></div>
 <div class="ui-g-8"><input pInputText pKeyFilter="int" placeholder="Cantidad" id="title" [(ngModel)]="favorito.description" /></div>


    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <div class="ui-g-4"> <button type="button" pButton icon="fa-check" (click)="modificar()" label="Modificar" ></button></div>
                <div class="ui-g-4">     <button type="button" pButton icon="fa-close" (click)="delete()" label="Eliminar"></button></div>
                  <!--  <div class="ui-g-4">     <button type="button" pButton icon="fa-check" (click)="save()" label="Guardar"></button></div>-->
        </div>
    </p-footer>
</p-dialog>

