
<p-panel >
		<p-header>
			Inicio de Sessión Adkhancy
		</p-header>
		
<div   class="favorito-box" >
    
		<div class="ui-g-12 ui-md-4">
			<div class="ui-inputgroup">
					<div class="ui-g-4"><label for="vin">Usuario</label></div>
				<span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
				<input type="text" pInputText placeholder="Usuario">         
			</div>
			<div class="ui-inputgroup">
				
					<div class="ui-g-4"><label for="vin">Contraseña</label></div>
				<span class="ui-inputgroup-addon"><i class="fa-cogs"></i></span>
				 <input type="password" pPassword weakLabel ="El password es muy debíl"/>        
			</div>
			
		</div>
	</div>
		<p-footer>
				<button pButton type="button" label="Login" ></button>
		</p-footer>
	</p-panel>